*{
    margin:0;
    padding:0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(221, 220, 220);
    color: black;
}
/* Style the header with a blue background and some padding */
#header{
    width: 100%;
    background-color: #0056B8;
    background-size: cover;
    background-position: center;
    border-bottom: solid;
    border-width: 5px;
    border-color: white;
}
.container{
    padding: 10px 2%;
}
/* Resize logo */
.logo{
    height: 100px;
    width: auto;
}
/* Align logo in center */
.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* Align menu items in center */
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* Add margin to menu items */
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
/* Style menu items */
nav ul li a{
   color: white;
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
   position: relative;
}
/* On hover menu items */
nav ul li a:hover{
    color: white;
}
/* Add line under menu items on pointer */
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #D8C722;    ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#menuIcon {
    display: none;
}
/* background image styling */
header{
    z-index: -1;
    background: url("images/ollu-campus.JPG");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: left center;
    display: flex;
    justify-content: center;
    text-align: center;
}
/* Header styling */
.header-text h1{
    font-size: 50px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1.5px black;
}
/* p styling */
p {
    font-size: 20px;
}
#tg-text{
    font-size: 20px;
    padding-top: 12px;
}
.golfer{
    height: 400px;
    width: auto;
    margin-top: -80px;
    margin-bottom: -80px;
    margin-left: -100px;
}
/* style button */
.button{
    padding: 10px 15px;
    background: #0056B8;
    border-radius: 10px;
    border-style: none;
    overflow: hidden;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
/* Style button on hover */
.button:hover{
    background: #003d82;
}
.button:active{
    background: #003d82;
}
.wrapper{
    background-color: rgb(255,255,255,0.6);
    padding: 12px 15px;
    margin: 40px 10%;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #0056B8;
    width: 80%;
}
.wrapper2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#bottom-wrapper{
    margin: 40px 25%;
    width: 50%;
}
.button__text{
    color: white;
    font-size: 16px;
    letter-spacing: .03cm;
}
.logo-wrapper-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.logo-footer{
    height: 60px;
    width: auto;
}
.logo-wrapper-footer{
    padding: 5px 0;
    background: #0056B8;
    border-top: solid;
    border-width: 3px;
    border-color: white;
}
.footer-wrapper a {
    text-decoration: none;
}
.footer-wrapper p{
    color: whitesmoke;
    font-size: 12px;
    letter-spacing: 0.6px;
}
.footer-wrapper p:hover {
    color: #D8C722;
}


/* Add media queries for responsiveness - when the screen is between 768-950 px*/
@media (min-width: 768px) and (max-width: 1050px) {
    /* Add margin left of logo */
    .logo-wrapper {
        margin-left: 2%;
    }
    /* Adjust layout so logo, and menu icon are inline */
    .container{
        padding: 10px 0%;
        display: flex;
        justify-content: space-between;
    }
    /* Adjust menu on sidebar */
    nav {
       position: relative; 
       display: block;
       width: 30%;
       display: none;
       top: 110px;
    }
    nav ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #0056B8;
        border-left: solid;
        border-width: 5px;
        border-color: white;

    }
    nav ul li {
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 50px;
        text-align: left;
        position: relative;
    }
    nav ul li a {
        font-size: 18px;
    }
    /* Style menu icona and position */
    #menuIcon{
        color: white;
        display: inline;
        position:absolute;
        float: right;
        margin-left: 90%;
        margin-top: 30px;
        /* margin: 3%; */
        font-size: 25px;
        padding: 1%;
        border-radius: 4px;
        cursor: pointer;   
        border: 2px solid white;
    }
    /* This style toggles the menu appearance */
    nav.navactive{
        display: inline;
    }
    /* Header style */
    .header-text h1{
        font-size: 40px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    /* p style */
    p {
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
    }
    #tg-text{
        font-size: 18px;
        text-align: center;
        padding: 12px 12px;
    }
    .golfer{
        height: 300px;
        width: auto;
        margin-top: -60px;
        margin-bottom: -70px;
        margin-left: -100px;
    }
    .button__text{
        color: white;
        font-size: 14px;
        letter-spacing: .03cm;
    }
    .logo-wrapper-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .logo-footer{
        height: 60px;
        width: auto;
    }
    .logo-wrapper-footer{
        padding: 5px 0;
        background: #0056B8;
        border-top: solid;
        border-width: 3px;
        border-color: white;
    }
    .footer-wrapper a {
        text-decoration: none;
    }
    .footer-wrapper p{
        color: whitesmoke;
        font-size: 12px;
        letter-spacing: 0.6px;
    }
    .footer-wrapper p:hover {
        color: #D8C722;
    }
}


/* 768 px and less */
@media (max-width: 768px) {
    .logo{
        height: 75px;
        width: auto;
    }
    /* Add margin left of logo */
    .logo-wrapper {
        margin-left: 2%;
    }
    /* Adjust layout so logo, and menu icon are inline */
    .container{
        padding: 10px 0%;
        display: flex;
        justify-content: space-between;
    }
    /* Adjust menu on sidebar */
    nav {
       position: relative; 
       display: block;
       width: 40%;
       display: none;
       top: 85px;
    }
    nav ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #0056B8;
        border-left: solid;
        border-width: 5px;
        border-color: white;

    }
    nav ul li {
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 50px;
        text-align: left;
        position: relative;
    }
    nav ul li a {
        font-size: 16px;
    }
    /* Style menu icona and position */
    #menuIcon{
        color: white;
        display: inline;
        position:absolute;
        float: right;
        margin-left: 87%;
        margin-top: 20px;
        font-size: 25px;
        padding: 1%;
        border-radius: 4px;
        cursor: pointer;   
        border: 2px solid white;
    }
    /* This style toggles the menu appearance */
    nav.navactive{
        display: inline;
    }
    /* Header style */
    .header-text h1{
        font-size: 28px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        -webkit-text-stroke: 1px black;
    }
    /* p style */
    p {
        font-size: 14px;
        line-height: 1.5;
        text-align: justify;
    }
    #bottom-wrapper{
        margin: 40px 10%;
        width: 80%;
    }
    #tg-text{
        font-size: 16px;
        text-align: center;
        padding: 12px 12px;
    }
    .golfer{
        height: 250px;
        width: auto;
        margin-top: -60px;
        margin-bottom: -60px;
        margin-left: -100px;
    }
    .button__text{
        color: white;
        font-size: 14px;
        letter-spacing: .03cm;
    }
    .logo-wrapper-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .logo-footer{
        height: 60px;
        width: auto;
    }
    .logo-wrapper-footer{
        padding: 5px 0;
        background: #0056B8;
        border-top: solid;
        border-width: 3px;
        border-color: white;
    }
    .footer-wrapper a {
        text-decoration: none;
    }
    .footer-wrapper p{
        color: whitesmoke;
        font-size: 12px;
        letter-spacing: 0.6px;
    }
    .footer-wrapper p:hover {
        color: #D8C722;
    }
}