*{
    margin:0;
    padding:0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(221, 220, 220);
    color: black;
}
/* Style the header with a blue background and some padding */
#header{
    width: 100%;
    background-color: #0056B8;
    background-size: cover;
    background-position: center;
    border-bottom: solid;
    border-width: 5px;
    border-color: white;
}
.container{
    padding: 10px 2%;
}
/* Resize logo */
.logo{
    height: 100px;
    width: auto;
}
/* Align logo in center */
.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* Align menu items in center */
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* Add margin to menu items */
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
/* Style menu items */
nav ul li a{
   color: white;
   text-decoration: none;
   font-size: 20px;
   font-weight: bold;
   position: relative;
}
/* On hover menu items */
nav ul li a:hover{
    color: white;
}
/* Add line under menu items on pointer */
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #D8C722;    ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#menuIcon {
    display: none;
}
/* Add media queries for responsiveness - when the screen is 786px wide or less, stack the links on top of each other */
@media (max-width: 865px) {
    /* Add margin left of logo */
    .logo-wrapper {
        margin-left: 2%;
    }
    /* Adjust layout so logo, and menu icon are inline */
    .container{
        padding: 10px 0%;
        display: flex;
        justify-content: space-between;
    }
    /* Adjust menu on sidebar */
    nav {
       position: relative; 
       display: block;
       width: 30%;
       display: none;
       top: 110px;
    }
    nav ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #0056B8;
        border-left: solid;
        border-width: 5px;
        border-color: white;

    }
    nav ul li {
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 50px;
        text-align: left;
        position: relative;
    }
    /* Style menu icona and position */
    #menuIcon{
        color: white;
        display: inline;
        position:absolute;
        float: right;
        margin-left: 90%;
        margin-top: 3%;
        /* margin: 3%; */
        font-size: 25px;
        padding: 1%;
        border-radius: 4px;
        cursor: pointer;   
        border: 2px solid white;
    }
    /* This style toggles the menu appearance */
    nav.navactive{
        display: inline;
    }
}

/* Body styling */
/* background image styling */
header{
    z-index: -1;
    background: url("images/ollu-campus.JPG");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: left center;
    display: flex;
    justify-content: center;
    text-align: center;
    /* flex-direction: column; */
}
/* Header styling */
.header-text h1{
    font-size: 50px;
    padding: 80px 15px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1.5px black;
}
/* p styling */
p {
    font-size: 20px;
    text-align: center;
    background-color: rgb(255,255,255,0.6);
    padding: 10px 10px;
    margin: 0px 10%;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #0056B8;
}
.golfer{
    height: 300px;
    width: auto;
}
/* style button */
.button{
    padding: 10px 15px;
    background: #0056B8;
    border-radius: 10px;
    border-style: none;
    overflow: hidden;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: 10px 0;
}
/* Style button on hover */
.button:hover{
    background: #003d82;
}
.button:active{
    background: #003d82;
}
.wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px 0;
}
.button__text{
    /* display: inline-block; */
    color: white;
    font-size: 16px;
    letter-spacing: .03cm;
}